
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f8f8f8;
  color: #333;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.btn {
  padding: 10px 16px;
  border-radius: 6px;
  background: #e83f6f;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #d23762;
}
